.cardcontainer{
width:15vw;
margin-top:8px;
margin-bottom:8px;
}

img{
width:100%;
height:140px;
border-radius:20px;
}

.type, .rating{
color:grey;
font-size:8px;
font-weight:bold;
}

.cardpart2{
padding:10px;
}

.name, .time{
font-size:14px;
font-weight:bold;
}

.titlerating{
display:flex;
justify-content:space-between;
align-items:center;
}

.timelike{
display:flex;
justify-content:space-between;
align-items:center;
}


.cc1{
width:70vw;
display:flex;
flex-wrap:wrap;
gap:2px;
justify-content:space-evenly;

}